.blog {
  display: flex;
  flex-direction: column;
  background-color: #13161c;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  gap: 4rem;
}

.gradient-text-blog {
  font-weight: 700;
  background: linear-gradient(90deg, #56ee58 0%, #06c7f1 50%, #a773a8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

@media (max-width: 768px) {
  .blog {
    padding: 1rem;
    gap: 0rem;
  }
}
