.vertical-card-carousel {
  height: 530px;
  
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 10px;
  scrollbar-width: thin;
  scrollbar-color: #2f353c #21252c;
}

.vertical-card-carousel::-webkit-scrollbar {
  width: 8px;
}

.vertical-card-carousel::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.vertical-card-carousel::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.carousel-content {
  display: flex;
  flex-direction: column;
}

.carousel-card {
  cursor: pointer;
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  transition: transform 0.2s ease;
  height: 150px;
  overflow: hidden;
  font-family: "Urbanist", sans-serif;
  background: #101623;
  z-index: 0;
  padding: 0.2rem;
  margin-bottom: 1.3rem;
  max-width: 800px;
}

.carousel-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 2px; 
  background: linear-gradient(45deg, #ddda32, #2bb4e0, #26c192, #e4598f);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none; 
  z-index: 1;
}

.carousel-card > * {
  position: relative;
  z-index: 2;
}

.carousel-card:hover {
  transform: scale(1.02);
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 130px;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
}

.card-title {
  text-align: start;
  font-size: clamp(1rem, 2.3vw, 5rem);
  font-weight: 700;
  font-family: "Urbanist", sans-serif;
  color: white;
  margin-bottom: 1rem;
  text-align: start;
}

.card-descriptionn {
  text-align: center;
  color: white;
  font-size: 0.9em;
  z-index: 165;
  text-align: start;
}
