.experts {
  background-color: #13161c;
  min-height: 600px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0; 
  padding-top: 100px;
}

.experts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 1400px; 
}

.text-experts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 2rem;
}

.linea-white {
  border-bottom: 2px solid rgb(255, 255, 255);
  width: 90vw;
  margin-top: 3rem;
}

.description-experts {
  color: white;
  font-family: "Urbanist", sans-serif;
  font-size: clamp(0.9rem, 1.9vw, 3rem);
}

.title-experts {
  text-align: start;
  font-size: clamp(3rem, 2vw, 5rem);
  font-weight: 700;
  font-family: "Urbanist", sans-serif;
  color: white;
  margin-bottom: 1rem;
}

.experts-images {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient-text-experts {
  font-weight: 700;
  background: linear-gradient(90deg, #e9e531 0%, #56ee58 50%, #30df99 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glow 2s ease-in-out infinite alternate;
  text-shadow: 
    0 0 10px rgba(233, 229, 49, 0.3),
    0 0 20px rgba(86, 238, 88, 0.3),
    0 0 30px rgba(48, 223, 153, 0.3);
  position: relative;
}

@keyframes glow {
  from {
    text-shadow: 
      0 0 10px rgba(233, 229, 49, 0.3),
      0 0 20px rgba(86, 238, 88, 0.3),
      0 0 30px rgba(48, 223, 153, 0.3);
  }
  to {
    text-shadow: 
      0 0 20px rgba(233, 229, 49, 0.5),
      0 0 30px rgba(86, 238, 88, 0.5),
      0 0 40px rgba(48, 223, 153, 0.5);
  }
}

@media (max-width: 1100px) {
  .title-experts {
    font-size: clamp(1.8rem, 3.5vw, 3rem);
    margin-top: 2rem;
  }

  .experts {
    padding-top: 50px;
  }
}

@media (max-width: 900px) {
  .description-experts {
    display: none;
  }
  .experts-grid {
    display: flex;
    flex-direction: column;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .text-experts {
    height: 100%;
    padding: 2rem;
  }

  .title-experts {
    font-size: clamp(2rem, 5vw, 4rem);
    z-index: 0;
    text-align: center;
  }

  .description-experts {
    font-size: clamp(0.9rem, 1.5vw, 3rem);
  }
}